* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App, .App-Body {
    height: 100%;
}

.Display {
    background: blue;
    color: white;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-family: sans-serif;
}

.Display-Text {
    font-size: 1rem;
    font-weight: 100;
    text-transform: uppercase;
}

.Display-Color {
    font-size: 2rem;
    text-transform: uppercase;
}

.Controls {
    background: white;
    color: blue;
    display: flex;
    justify-content: center;
}

.Controls-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 400px;
}

.Controls-Level {
    display: flex;
    justify-content: space-between;
}

.Controls-Item {
    margin-right: 0.5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    text-transform: uppercase;
    cursor: pointer;
}

.Controls-Item_active {
    color: white;
    background: blue;
}

/* TODO: This element is not centered vertically.
   Looks like I wrongly use align-content and align-items
   and/or do not understand something else.
 */
.Controls-Message {
    color: black;
    font-size: 0.8rem;
    opacity: 0.7;
}

.ColorGrid {
    background: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-statr;
    align-items: center;
}

.ColorGrid-Container {
    width: 400px;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.ColorGrid-Tile {
    /* border-radius: 50% 20% / 10% 40%; */
    /* border-radius: 10px 100px / 120px; */
    /* border-radius: 10% 30% 50% 70%; */
    border-radius: 25% 10%;
    /* border-radius: 20% 20% 20% 20%; */
    margin: 2.5% 1%;
    padding-top: 25%;
    flex-basis: 25%;
    cursor: pointer;
}

.ColorGrid-Tile_hidden {
    cursor: default;
    pointer-events: none;
}
