.App {
  background: rgb(0,22,36);
  background: linear-gradient(270deg, rgba(0,22,36,1) 0%, rgba(121,119,9,0.9458158263305322) 0%, rgba(0,212,255,1) 89%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}
