.TodoList-Item {
  display: flex;
  height: 30px;
}

.TodoList-ItemTrash {
  display: flex;
  /* display: none; */
  justify-content: center;
  align-items: center;
  background: red;
}

.TodoList-ItemTrash_shown {
  width: 30px;
  transition: all 1s;
}

.TodoList-ItemTrash_hidden {
  width: 0;
  transition: all 1s;
  visibility: hidden;
}

.TodoList-ItemTask {
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  align-items: center;
  flex-grow: 1;
  background: white;
  color: black;
  /* text-align: center; */
  /* vertical-align: center; */
}

.TodoList-ItemTask_even {
  background: gray;
}

.TodoList-ItemTask_done {
  text-decoration: line-through;
}
